.calendarWeek {
	list-style: none;

}

.dayOfWeek {
	border: thin solid black;
	padding: 10px 20px;
	margin-right: 20px;
	margin-bottom: 5px;
	width:80%;
}

.dayHead {
	margin-bottom: 0px;
}

hr {
	margin-top: 5px;

}

.date {
	padding-left: 17px;
}

.appt {
	display: block;
	clear: both;
	margin-bottom: 20px;
	width:auto;
}

.heading {
	padding-left: 100px;
	color: white;
}

.addAppt {
	height: auto;
	position: relative;
	left: 150px;
	top:-50px;
}

.apptAddText {
	display: none;
}

.apptDelText {
	display: none;

}
